@import '../variables/variables.css';

.about{
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.about__title {
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--brown);
}

.about__title span {
    font-weight: 800;
    color: var(--red);
}

.about__text{
    font-weight: 500;
    line-height: 3.5rem;
}

.about__text span {
    font-weight: 700;
    color: var(--red);
}