/* ======== VARIABLES ========  */

@import '../variables/variables';

/* ======== nAVBAR ========  */

.navbar{
    width: 90%;
    margin: 2rem;
    height: 5rem;
}

/* ======== NAVBAR - icons ========  */

.btn-menu,
.btn-menu-close{
    border: none;
}

.btn-menu{
    background-color: var(--red);
    border-radius: 100%;
    float: right;
    cursor: pointer;  
}

.btn-menu-close{
    background: none;
    width: 80%;
    position: relative;
    bottom: 12rem;
    display: flex;
    justify-content: flex-end;
}

.lni-menu{
    font-size: 2.5rem;
}

.lni-close{
    font-size: 2rem;
}

.lni-menu,
.lni-close{
    color: var(--white);
    font-weight: 700;
    padding: 1rem;
}

/* ======== NAVBAR - display ========  */

.menuNav {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    background: var(--red);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 9;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 4rem;
    transition: all .6s;
}

.menuNav.showMenu {
    width: 100%;
}


/* ======== NAVBAR - links ========  */

.navbar-links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}

.active {
    color: var(--white);
    font-weight: 700;
}

.inactive {
    color:var(--white);
    font-weight: 300 ;
}

@media (min-width: 990px) {

    header{
        margin: 1rem;
    }

    .menuNav{
        background-color: #d72323ec;
    }

    .menuNav.showMenu{
        width: 50%;
    }

    .inactive,
    .active{
        font-size: 2.5rem;
        letter-spacing: .2rem;
    }

    .btn-menu-close{
        display: none;
    }
}